@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
img {
  max-width: 100%;
}
body {
  font-family: "outfit", sans-serif;
  background-color: var(--Light-gray);
  font-size: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  background-color: var(--White);
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container img {
  border-radius: 15px;
}
.container .content {
  padding: 0 0.5rem;
}
.container .content h1 {
  text-align: center;
  font-size: 24px;
  color: var(--Dark-blue);
  padding: 1rem 0;
}
.container .content p {
  font-size: 15px;
  color: var(--Grayish-blue);
  text-align: center;
  padding: 0 1rem 1.5rem 1rem;
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
